# Dependencies
**/node_modules/

# Build output
**/.next/
**/out/
**/dist/
**/build/

# Caches
**/.turbo/
**/.vercel/
**/.cache/

# Logs
**/*.log

# Generated
**/*.tsbuildinfo
app/prisma/generated/

# Docker
**/.docker/

# Misc
**/coverage/
